aiohttp==3.7.4.post0
PyYAML==5.4.1
pydantic==1.8.2
aio-pika==6.8.0

watchgod 
loguru
click
uvloop

pytest
pytest-asyncio
python-lsp-server
importlib_metadata
flake8
flake8-isort
flake8-comprehensions
autopep8
